// =======================================
// Media Queries Variables (Device)
// =======================================
$mobile: 560px;
$tablet: 760px;
$desktop: 1000px;

// =======================================
// Grid System Style
// =======================================
// Layout wrap
.wrap {
	min-width: 320px;
	padding-left: 20px;
	padding-right: 20px;
	@include susy-breakpoint($desktop, 12) {
		@include container($desktop);
	}
}

// =======================================
// Base Style
// =======================================
html[class^='lt-ie'], [class^='lt-ie'] body {
	height: 100%;
}
body {
	height: 100vh;
	background: $bg-default;
	* {
		padding: 0;
		margin: 0;
	}
}
// border-box 설정
@include border-box-sizing;

input, button, select, textarea {
	border: 0;
	cursor: pointer;
	outline: none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	textarea {
		margin-bottom: -5px;
	}
}
a {
	color: inherit;
	text-decoration: inherit;
	cursor: pointer;
	outline: none;
}
button {
	background-color: transparent;
	outline: none;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	-webkit-text-fill-color: #999 !important;
	-webkit-box-shadow: 0 0 0px 1000px #e0e0e0 inset;
}

%text-wrap {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// =======================================
// Skip Navigation
// =======================================
.blind {
	position: relative;
	z-index: 100;
	display: block;
	overflow: hidden;
	font-size: 0;
	text-align: center;
	width: 1px;
	height: 1px;
	line-height: 0;
	margin: 0 -1px -1px 0;
	&:focus, &:active, &:hover {
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		text-decoration: inherit;
		width: 100%;
		height: 30px;
		line-height: 30px;
		margin: 0;
		background: $bg-default-purple;
	}
}

// =======================================
// Checkbox Style
// =======================================
.checkbox {
	position: relative;
	line-height: 1.2;
	label {
		display: inline-block;
		font-size: 12px;
		vertical-align: super;
		cursor: pointer;
		.checkbox-label {
			font-size: 12px;
			padding-top: 2px;
		}
	}
	input {
		display: none;
	}
}
//  Kalypto.checked.js 자동 생성 태그 Style 적용
.k_toggle {
	display: inline-block;
	font-family: FontAwesome;
	width: 18px;
	height: 18px;
	border: 1px solid #269700;
	border-radius: 3px;
	margin-right: 4px;
	background: #fff;
}
.k_toggle.checked:before {
	float: left;
	width: 16px;
	height: 16px;
	padding-top: 1px;
	font-family: FontAwesome;
	font-size: 13px;
	text-align: center;
	color: $font-color-purple;
	content: '\f00c';
}

// =======================================
// Radiobox Style
// =======================================
.radiobox {
	@extend .checkbox;
}
//  Kalypto.checked.js 자동 생성 태그 Style 적용
.k_toggleR {
	border-radius: 10px;
	@extend .k_toggle;
}
.k_toggleR.checked:before {
	@extend .k_toggle.checked:before;
	font-size: 12px;
	content: '\f111';
}

// =======================================
// Input Group Style
// =======================================
input, select, textarea {
	height: 30px;
	padding: 0 6px;
	border: 1px solid #d2d2d2;
	box-sizing: border-box;
}

// =======================================
// Select Group Style
// =======================================

// IE 10, 11의 네이티브 화살표 숨기기
.lt-ie10 {
	select::-ms-expand {
		display: none;
	}
}

// =======================================
// Background Style
// =======================================
%bg-common {
	background: {
			image: url("/Common/images/common/squairy_light_@2X.png");
			size: 50%;
		}
	@include susy-breakpoint($tablet, 8) {
		background: {
			image: url("/Common/images/common/squairy_light_@2X.png");
			size: 25%
		}
	}
	@include susy-breakpoint($desktop, 12) {
		background: {
			image: url("/Common/images/common/squairy_light.png");
		}
	}
}

// =======================================
// Paging Style
// =======================================
.paging {
	text-align: center;
	color: #989898;
	padding-top: 14px;
	button {
		height: 18px;
		padding: 0 4px;
		&:hover, &:active, .active {
			color: $font-color-purple;
		}
		[class*='fa-caret'] {
			font-size: 17px;
			vertical-align: top;
		}
		.fa-caret-left {
			margin-right: 10px;
		}
		.fa-caret-right {
			margin-left: 10px;
		}
	}
	span {
		a {
			display: inline-block;
			min-width: 26px;
			padding: 2px 4px;
			box-sizing: border-box;
		}
		&:hover, &:active, &.active {
			a {
				font-weight: bold;
				color: #fff;
				background: $bg-default-purple;
				border-radius: 10px;
			}
		}
	}
}

// =======================================
// Content Layout Style
// =======================================

// 도움말 스타일
.notification {
	padding-top: 7px;
	clear: both;
	i.fa {
		color: $font-color-purple;
		font-size: 14px;
		vertical-align: middle;
	}
	p {
		line-height: 19px;
	}
	p:before {
		padding-right: 6px;
		font-family: FontAwesome;
		font-size: 13px;
		color: $font-color-nav;
		content: '\f06a';
	}
}

// 패턴 배경
%patton {}

// 서브 상단 진행상황 스타일
.progress {
	width: 100%;
	height: 40px;
	overflow: hidden;
	background: $bg-default-purple;
	.wrap {
		position: relative;
		text-align: left;
		> li {
			position: relative;
			display: inline;
			color: #3d0c4b;
			line-height: 40px;
			padding-left: 20px;
			padding-right: 10px;
			&.active {
				color: #dfbde9;
				font-weight: bold;
				span {
					position: relative;
					float: right;
					display: block;
				}
			}
			&:before {
				position: absolute;
				left: 0;
				font-family: 'FontAwesome';
				content: "\f0a9";
				font-size: 20px;
			}
			> span {
				display: none;
			}
		}
		@include susy-breakpoint($tablet, 8) {
			text-align: center;
			> li {
				display: inline-block;
				padding-left: 50px;
				padding-right: 40px;
				&:before {
					content: "\f0a9";
				}
				&:first-child {
					&:before {
						content: "";
					}
				}
				&.active {
					span {
						float: none;
					}
				}
				> span {
					display: inline-block;
				}
			}
		}
		@include susy-breakpoint($desktop, 12) {
			> li {
				padding-left: 70px;
				padding-right: 60px;
			}
		}
	}
}