// =======================================
// index.html (Store 검색)
// =======================================
.store-box {
	h1 {
		font-size: 30px;
		font-weight: normal;
		text-align: center;
		margin-bottom: 32px;
	}
}
.store-box {
	.search-set {
		display: inline-block;
		@include span(full);
		overflow: hidden;
		margin-bottom: 27px;
		[class^="tab-"] {
			display: inline-block;
			float: left;
			width: 50%;
			height: 30px;
			line-height: 30px;
			text-align: center;
			color: #999;
			background: #fff;
			&:focus {
				color: $font-default;
				background: #fdfdfd;
			}
			&.selected {
				color: #fff;
				background: $bg-default-purple;
			}
		}
	}
}
.store-box {
	.store-search-set {
		> li {
			position: relative;
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			input {
				font-size: 13px;
				width: 100%;
				height: 50px;
				padding-left: 15px;
				padding-right: 70px;
				border: 0px;
				cursor: default;
				@include susy-breakpoint($tablet, 8) {
					font-size: 14px;
					padding-left: 20px;
				}
			}
			> ul {
				display: none;
				max-height: 150px;
				overflow-y: auto;
			}
			.checkbox {
				text-align: left;
				margin-bottom: 14px;
				.store-label {
					color: #fff;
				}
			}
			.btn-default {
				font-size: 24px;
				width: 100%;
				height: 50px;
				margin-left: 0;
				line-height: 50px;
			}
		}
	}
}
.store-box {
	.store-search-set {
		> li {
			button {
				position: absolute;
				top: 0;
				right: 0;
				width: 50px;
				height: 50px;
				border-left: 1px solid $bg-default;
				&:before {
					font-size: 20px;
					color: $font-default;
				}
				&:hover {
					background: #faf6fb;
					&:before {
						color: $bg-default-purple;
					}
				}
				&.btn-zipcode:before {
					font-family: 'FontAwesome';
					content: "\f041";
					font-size: 24px;
				}
				&.btn-select:before {
					font-family: 'FontAwesome';
					content: "\f0c4";
				}
				&.btn-detail:before {
					font-family: 'FontAwesome';
					content: "\f0fe";
				}
				&.btn-date:before {
					font-family: 'FontAwesome';
					content: "\f073";
				}
				&.btn-time:before {
					font-family: 'FontAwesome';
					content: "\f017";
					font-size: 24px;
				}
			}
			button.active {
				border-top: 3px solid $font-default;
				border-left: 3px solid $font-default;
				border-right: 3px solid $font-default;
				&:before {
					color: $font-color-purple;
				}
			}
		}
	}
}
.store-box {
	.store-search-set {
		> li {
			.input-clear {
				position: absolute;
				top: 0;
				right: 50px;
				width: 50px;
				height: 50px;
				border-left: 0;
				&:before {
					color: #d2d2d2;
				}
				&:hover {
					background: none;
					&:before {
						color: $bg-default-purple;
					}
				}
			}
			.input-clear.active {
				display: none;
			}
		}
	}
}
.store-box {
	.store-search-set {
		> li {
			> ul {
				> li {
					background: $font-default;
					color: #a1a1a1;
					a {
						display: block;
						max-width: 100%;
						padding: 3px 20px;
					}
					&:first-child {
						padding-top: 12px;
					}
					&:last-child {
						padding-bottom: 12px;
					}
					&:focus, &.selected {
						a {
							color: #fff;
						}
					}
					&.select-style {
						text-align: center;
						.stb-select-container {
							min-width: 75px;
							border: 0;
							color: #fff;
							> span {
								overflow: inherit;
							}
							&:hover, &:focus, &.selected {
								&::after {
									color: #fff;
									opacity: 1;
								}
							}
							.stb-select {
								top: -5px;
								max-height: 40px;
								border: 0;
								> li {
									padding-top: 0;
									padding-bottom: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}
#container.store-bg {
	background: $bg-default;
	padding-bottom: 0;
	.wrap {
		padding-top: 22px;
		padding-bottom: 22px;
		overflow: hidden;
		.store-box {
			@include span(4);
		}
		@include susy-breakpoint($tablet, 8) {
			padding-top: 42px;
			padding-bottom: 42px;
			.store-box {
				@include span(4 at 3);
				.search-set {
					display: none;
				}
			}
		}
		@include susy-breakpoint($desktop, 12) {
			padding-top: 105px;
			padding-bottom: 105px;
			.store-box {
				@include span(4 at 5);
			}
		}
	}
}

// =======================================
// designer-search.html (Designer 검색)
// =======================================
.designer-bg {
	@extend .store-bg;
}
.designer-box {
	@extend .store-box;
	.designer-search-set {
		@extend .store-search-set;
		> li {
			button {
				&.designer-select:before {
					font-family: 'iconfont';
					content: '\E001';
				}
			}
		}
	}
}

// =======================================
// book-list.html (Book a Service - Search Salon)
// =======================================
.recommend {
	width: 100%;
	@extend %bg-common;
}
.list-type {
	> h5 {
		@include sub-title($fz: 14px, $ta: center, $mb: 8px);
		@include susy-breakpoint($tablet, 4) {
			@include sub-title;
		}
	}
}
.list-type {
	.select-style {
		position: relative;
		text-align: center;
		margin-bottom: 15px;
		.stb-select-container {
			width: 235px;
			font-size: 12px;
			@include susy-breakpoint($mobile, 6) {
				width: 100%;
			}
			@include susy-breakpoint($tablet, 8) {
				width: 150px;
			}
		}
	}
	@include susy-breakpoint($tablet, 8) {
		.select-style {
			position: absolute;
			right: 0;
			top: 13px;
		}
	}
	@include susy-breakpoint($desktop, 12) {
		.select-style {
			top: 10px;
		}
	}
}
.list-type {
	position: relative;
	padding: 27px 20px 30px 20px;
	overflow: hidden;
	> ul {
		overflow: hidden;
		clear: both;
	}
	@include susy-breakpoint(500px, 4) {
		@include container(500px);
		padding-left: 0;
		padding-right: 0;
	}
	@include susy-breakpoint($tablet, 8) {
		@include container($tablet);
	}
	@include susy-breakpoint($desktop, 12) {
		@include container($desktop);
	}
}
.list-img-box {
	width: 235px;
	background: #fff;
	border: 1px solid $border-gray;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	.col-3 {
		overflow: hidden;
		> img {
			width: 235px;
			height: 235px;
		}
	}
	.col-3-info {
		text-align: left;
		padding: 6px  10px;
		.title {
			color: #333;
			max-width: 120px;
			@extend %text-wrap;
		}
		.star {
			float: right;
			letter-spacing: -0.1em;
		}
		.add {
			color: #999;
			max-width: 208px;
			@extend %text-wrap;
			display: block;
			&:before {
				font-family: 'FontAwesome';
				content: "\f041";
				font-size: 18px;
				padding-right: 6px;
			}
		}
	}
}
.list-type {
	> ul {
		> li {
			margin-bottom: 20px;
		}
		@include susy-breakpoint($mobile, 6) {
			> li {
				@include gallery(3 of 6);
			}
		}
		@include susy-breakpoint($tablet, 8) {
			> li {
				@include gallery(3 of 9);
			}
		}
		@include susy-breakpoint($desktop, 12) {
			> li {
				@include gallery(3 of 12);
			}
		}
	}
}

// =======================================
// book-store-about.html (Book a Service - Select Salon)
// =======================================
.salon-tab-panel {
	overflow: hidden;
	clear: both;
}
.title-btn-bg {
	position: relative;
	@include span(full);
	background: $bg-default-purple;
	border-top: 1px solid #a547c0;
	clear: both;
	.title-btn {
		line-height: 56px;
		> h3 {
			@include wh-center;
			font-size: 100%;
			color: #eade25;
			@include susy-breakpoint($mobile, 6) {
				font-size: initial;
			}
		}
		[class^="btn-"] {
			position: relative;
			font-size: 12px;
			color: #fff;
			padding: 0 20px;
			&:before {
				position: absolute;
				font-family: 'FontAwesome';
				font-size: 24px;
			}
		}
		.btn-left {
			float: left;
			&:before {
				content: "\f104";
				top: -2px;
				left: 0;
			}
		}
		.btn-right {
			float: right;
			&:before {
				content: "\f105";
				top: -2px;
				right: 0;
			}
		}
	}
}
.salon-tab {
	position: relative;
	height: 40px;
	clear: both;
	padding: 0;
	> nav {
		position: relative;
		padding: 0;
		> a {
			float: left;
			display: block;
			font-size: 12px;
			text-align: center;
			width: 33.33%;
			height: 100%;
			line-height: 36px;
			padding: 0 10px;
			border-top: 4px solid #fff;
			&:hover, &:focus {
				border-top: 4px solid #e8e8e8;
			}
			&.selected {
				border-top: 4px solid #dfbde9;
			}
		}
		@include susy-breakpoint($tablet, 8) {
			position: absolute;
			left: 50%;
			transform: translateX( -50%);
			> a {
				width: 100px;
			}
		}
	}
}
.salon-bg {
	position: relative;
	height: 240px;
	text-align: center;
	overflow: hidden;
	img {
		@include wh-center;
		min-width: 1200px;
		width: auto;
		@include susy-breakpoint($desktop, 12) {
			width: 100%;
			height: auto;
		}
	}
}
.about-list {
	.box-01 {
		background: #f7f7f7;
		padding: 10px 20px;
		overflow: hidden;
		> h3 {
			font-size: 24px;
			color: $font-color-purple;
			line-height: 2;
			padding-top: 20px;
			border-bottom: 1px solid $border-gray;
			overflow: hidden;
			.star {
				display: block;
				font-size: 18px;
				line-height: 1;
				margin-bottom: 10px;
				.fa {
					margin-right: 0;
				}
			}
			@include susy-breakpoint($mobile, 6) {
			padding-top: 0;
				.star {
					float: right;
					line-height: 3;
					margin-bottom: 0;
				}
			}
		}
		dl {
			padding-top: 20px;
			padding-bottom: 20px;
			dt {
				font-size: 12px;
				color: #999;
				font-weight: bold;
			}
			dd {
				font-size: 18px;
				line-height: 1.5;
				padding-bottom: 20px;
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
	}
	.box-02 {
		padding: 10px 20px;
		border: 0;
		> h3 {
			font-size: 18px;
			i.fa {
				font-size: 24px;
				vertical-align: middle;
				margin-right: 4px;
			}
		}
		ol {
			padding-top: 26px;
			li {
				font-size: 12px;
				padding-bottom: 10px;
				line-height: 20px;
				span {
					background: $bg-default;
					display: inline-block;
					width: 36px;
					color: #333;
					text-align: center;
					margin-right: 16px;
				}
				&:first-child {
					span {
						background: #f3acac;
					}
				}
				&:last-child {
					span {
						background: #c1dce7;
					}
				}
			}
		}
	}
	.box-03 {
		width: 100%;
		height: 300px;
		iframe {
			width: 100%;
			height: 100%;
			border: 0;
		}
	}
}
.about-list.wrap {
	max-width: 100%;
	padding: 0;
	overflow: hidden;
	[class^="box-"] {
		min-height:300px;
	}
	@include susy-breakpoint($mobile, 6) {
		.box-01 {
			clear: both;
		}
		.box-02 {
			@include span(3);
		}
		.box-03 {
			@include span(3 float last);
			padding-top: 20px;
			padding-bottom: 20px;
			padding-right: 20px;
			iframe {
				border: 1px solid $border-gray;
			}
		}
	}
	@include susy-breakpoint($desktop, 12) {
		@include container($desktop);
		margin-top: 40px;
		margin-bottom: 40px;
		.box-01 {
			@include span(6);
		}
		.box-02 {
			@include span(3);
			border: 1px solid $border-gray;
		}
		.box-03 {
			@include span(3);
			@include last;
			padding: 0;
		}
	}
}

// =======================================
// book-store-service.html (Book a Service - Service)
// =======================================
.hair-style-set {
	> li {
		background: #555;
		border-bottom: 1px solid #fff;
		&:last-child {
			border-bottom: 0;
		}
		> a {
			font-size: 16px;
			color: #fff;
			padding: 0 20px;
			line-height: 60px;
		}
		.btn-down {
			float: right;
			&:before {
				font-family: 'FontAwesome';
				content: "\f107";
				font-size: 24px;
				color: #fff;
				line-height: 60px;
				padding: 0 30px;
			}
		}
	}
}
.hair-style-set {
	> li {
		.panel {
			@extend %bg-common;
			display: none;
		}
		&:first-child {
			.panel {
				display: block;
			}
		}
		&:focus, &.active {
			.btn-down:before {
				content: "\f106";
				line-height: 58px;
			}
			.panel {
				display: block;
			}
		}
	}
}
.hair-style-set {
	padding: 0;
	> li {
		.panel {
			hr.line {
				height: 1px;
				border: 0;
				margin-left: 40px;
				margin-right: 40px;
				background: $border-gray;
			}
			> ul {
				padding: 40px;
				overflow: hidden;
				> li {
					min-height: auto;
					display: block;
					.cell {
						display: block;
					}
				}
			}
		}
	}
	@include susy-breakpoint($mobile, 6) {
		> li {
			.panel {
				hr.line {
					margin-left: 30px;
					margin-right: 30px;
					background: $border-gray;
				}
				> ul {
					padding: 30px;
				}
			}
		}
	}
	@include susy-breakpoint($tablet, 8) {
		margin-bottom: 0;
	}
	@include susy-breakpoint($desktop, 12) {
		margin-bottom: 30px;
	}
}
.hair-style-set {
	> li {
		.panel {
			> ul {
				> li:nth-of-type(1) {
					text-align: center;
					.cell {
						&.hair-img {
							width: 100%;
							height: 100%;
							img {
								max-width: 100%;
								max-height: 100%;
								vertical-align: middle;
							}
						}
					}
				}
				> li:nth-of-type(2) {
					padding-left: 0;
					.cell {
						> p {
							font-size: 12px;
							&:last-child {
								padding-bottom: 8px;
							}
						}
						.title {
							font-size: 20px;
							color: $font-color-purple;
							padding-top: 10px;
							padding-bottom: 8px;
						}
						.iconfont {
							font-size: 22px;
						}
					}
				}
				> li:nth-of-type(3) {
					.cell {
						padding-bottom: 8px;
						span {
							font-size: 18px;
							font-weight: bold;
							color: $font-color-title;
						}
					}
				}
				> li:nth-of-type(4) {
					.cell {
						.btn-default {
							@include btn-default($miw:120, $fz:18);
							width: 100%;
							line-height: 2;
						}
					}
				}
			}
		}
	}
}
.hair-style-set {
	> li {
		.panel {
			> ul {
				@include susy-breakpoint($mobile, 6) {
					> li:nth-of-type(1) {
						@include span(2);
						@include first;
					}
					> li:nth-of-type(2) {
						@include span(4);
						@include last;
					}
					> li:nth-of-type(3) {
						@include span(4);
						@include last;
					}
					> li:nth-of-type(4) {
						@include span(4);
						@include last;
					}
				}
			}
		}
	}
}

.hair-style-set {
	> li {
		.panel {
			> ul {
				@include susy-breakpoint($tablet, 8) {
					> li:nth-of-type(1) {
						@include span(2);
					}
					> li:nth-of-type(2) {
						@include span(4);
						.cell {
							.title {
								font-size: 30px;
								margin-bottom: 20px;
							}
						}
					}
					> li:nth-of-type(3) {
						@include span(2);
						@include last;
						.cell {
							text-align: right;
							padding-bottom: 20px;
							span {
								font-weight: bold;
								letter-spacing: -0.5px;
							}
							span:first-child {
								font-size: 30px;
								display: block;
							}
							span:last-child {
								font-size: 18px;
							}
						}
					}
					> li:nth-of-type(4) {
						@include span(2);
						@include last;
					}
				}
			}
		}
	}
}
.hair-style-set {
	> li {
		.panel {
			> ul {
				@include susy-breakpoint($desktop, 12) {
					> li {
						min-height: 140px;
						display: table;
						.cell {
							display: table-cell;
							vertical-align: middle;
						}
					}
					> li:nth-of-type(1) {
						@include span(2);
						.cell {
							&.hair-img {
								width: 140px;
								height: 140px;
							}
						}
					}
					> li:nth-of-type(2) {
						@include span(5);
						padding-left: 20px;
					}
					> li:nth-of-type(3) {
						@include span(3);
						.cell {
							padding-bottom: 0;
							span:first-child {
								font-size: 24px;
								display: inline-block;
							}
							span:last-child {
								font-size: 24px;
							}
						}
					}
					> li:nth-of-type(4) {
						@include span(2);
						@include last;
					}
				}
			}
		}
	}
}

// =======================================
// book-store-reviews.html (Book a Service - Reviews)
// =======================================
.reviews-bg {
	@extend .salon-bg;
	height: 180px;
	padding-top: 36px;
	background: #f7f7f7;
	span {
		display: inline-block;
		max-height: 100%;
		vertical-align: middle;
		&:first-child {
			font-size: 72px;
			padding-right: 15px;
			border-right: 1px solid #d5d5d5;
		}
		&:last-child {
			font-size: 12px;
			text-align: left;
			padding-left: 15px;
			.fa {
				font-size: 26px;
				color: $font-color-purple;
				padding-bottom: 8px;
				margin-right: 4px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		@include susy-breakpoint($mobile, 6) {
			&:first-child {
				padding-right: 40px;
			}
			&:last-child {
				padding-left: 40px;
			}
		}
		@include susy-breakpoint($tablet, 8) {
			&:first-child {
				padding-right: 50px;
			}
			&:last-child {
				padding-left: 50px;
				.fa {
					font-size: 30px;
				}
			}
		}
	}
}
.reviews-list {
	> ul {
		padding-bottom: 25px;
		border-bottom: 1px solid #d5d5d5;
		overflow: hidden;
		@include susy-breakpoint($mobile, 6) {
			padding-top: 25px;
			padding-bottom: 25px;
		}
		@include susy-breakpoint($tablet, 8) {
		}
	}
	> ul:first-child {
		border-top: 1px solid #d5d5d5;
	}
	>.btn-more {
		margin-top: 20px;
		margin-bottom: 30px;
	}
}
.reviews-list {
	clear: both;
	> ul {
		> li:first-child {
			position: relative;
			min-height: 100px;
			.name {
				@include h-center;
				font-size: 30px;
				color: $font-color-purple;
				text-align: center;
				width: 100%;
			}
		}
		> li:last-child {
			.today-date {
				font-size: 14px;
				font-weight: bold;
				color: #999;
			}
			.star {
				font-size: 18px;
				margin-left: 10px;
			}
			.review {
				font-size: 12px;
				line-height: 2;
			}
		}
	}
}
.reviews-list {
	> ul {
		> li:first-child {
			@include span(4);
		}
		> li:last-child {
			@include span(4);
			@include last;
		}
		@include susy-breakpoint($mobile, 6) {
			> li:first-child {
				@include span(2);
			}
			> li:last-child {
				@include span(4);
				@include last;
			}
		}
		@include susy-breakpoint($tablet, 8) {
			> li:first-child {
				@include span(2);
			}
			> li:last-child {
				@include span(6);
				@include last;
			}
		}
		@include susy-breakpoint($desktop, 12) {
			> li:first-child {
				@include span(3);
			}
			> li:last-child {
				@include span(9);
				@include last;
			}
		}
	}
}

// =======================================
// book-store-booking.html (Booking)
// =======================================
.booking-bg {
	background: #f7f7f7;
	clear: both;
	.wrap {
		> h5 {
			@include sub-title;
		}
	}
	div.wrap:nth-of-type(1) {
		padding-top: $base-line-height;
		overflow: hidden;
		.btn-date {
			@include btn-default($miw: 0);
			height: $base-line-height*4;
			&:before {
				font-family: 'FontAwesome';
				font-size: 20px;
				content: "\f073";
			}
		}
	}
	div.wrap:nth-of-type(2) {
		padding-top: $base-line-height * 2;
		padding-bottom: $base-line-height;
		.selected-add {
			@include btn-default($miw: 0, $fz: 12);
			line-height: 21px;
			.fa {
				font-size: 10px;
				margin-right: 4px;
				margin-top: -1px;
			}
		}
		.btn-search {
			@include btn-default($miw: 0, $fz: 18);
		}
	}
	@include susy-breakpoint($mobile, 6) {
		div.wrap:nth-of-type(1) {
			.btn-date {
				@include span(1);
				@include last;
			}
		}
	}
	@include susy-breakpoint($tablet, 8) {
		div.wrap:nth-of-type(1) {
			.btn-date {
				@include span(1);
				@include last;
			}
		}
		div.wrap:nth-of-type(2) {
			@include layout(17 10px/42px);
			> h5 {
				@include span(15);
			}
			.selected-add {
				@include span(2);
				@include last;
				position: relative;
				top: -10px;
				right: 0;
			}
			.btn-search {
				@include span(3);
			}
		}
	}
	@include susy-breakpoint($desktop, 12) {
		div.wrap:nth-of-type(1) {
			.btn-date {
				@include span(2);
				@include last;
			}
		}
		div.wrap:nth-of-type(2) {
			@include layout(17 10px/42px);
			> h5 {
				@include span(8);
			}
			.selected-add {
				@include span(2);
			}
			.btn-search {
				@include span(3);
			}
		}
	}
}
.bk-select-date {
	display: none;
	position: relative;
	overflow: hidden;
	height: $base-line-height*4;
	[class^="btn-date-"] {
		position: relative;
		font-family: 'FontAwesome';
		font-size: 24px;
		width: 40px;
		height: $base-line-height*4;
		background: #e0e0e0;
		border: 1px solid #d5d5d5;
		z-index: 10;
	}
	.btn-date-left {
		float: left;
		&:before {
			content: "\f104";
			top: 0;
			left: -2px;
		}
	}
	.btn-date-right {
		float: right;
		&:before {
			content: "\f105";
			top: 0;
			right: -2px;
		}
	}
	@include susy-breakpoint($mobile, 6) {
		display: block;
	}
}
.bk-select-date {
	@include susy-breakpoint($mobile, 6) {
		@include span(5);
		ul {
			@include span(full);
			position: absolute;
			top: 0;
			padding: 0 50px;
			z-index: 9;
			li {
				@include layout(7 0px/65px);
				@include gallery(1 of 7);
				font-size: 30px;
				color: #555;
				text-align: center;
				height: $base-line-height*4;
				padding-top: 10px;
				background: #e0e0e0;
				border: 1px solid #d5d5d5;
				border-left: 0px;
				&:first-child {
					border-left: 1px solid #d5d5d5;
				}
				p {
					font-size: 12px;
				}
			}
		}
	}
	@include susy-breakpoint($tablet, 8) {
		@include span(7);
	}
	@include susy-breakpoint($desktop, 12) {
		@include span(10);
	}
}
.bk-select-service {
	@include span(full);
	.select-style {
		.stb-select-container {
			background: #fff;
			padding-left: 18px;
			padding-right: 40px;
			height: $base-line-height*2;
			span {
				line-height: $base-line-height*2;
			}
			&::after {
				top: 8px;
				right: 15px;
			}
			.stb-select {
				top: 41px;
			}
		}
	}
	.selected-del {
		@include btn-default($miw: 42);
		font-family: 'FontAwesome';
		font-size: 18px;
		height: $base-line-height*2;
		&:before {
			content: "\f068";
		}
	}
	.selected-default {
		@extend .selected-del;
		@include btn-default($miw: 42, $bg-color: #c2c2c2);
		font-size: 20px;
		color: #777;
		cursor: default;
		&:hover, &:focus {
			background: #c2c2c2;
			text-shadow: none;
		}
	}
	@include susy-breakpoint($tablet, 8) {
		@include layout(17 10px/42px);
		[class^="selected-"] {
			@include span(1);
			@include last;
		}
	}
	@include susy-breakpoint($desktop, 12) {
		@include layout(17 10px/42px);
		[class^="selected-"] {
			@include span(1);
		}
	}
}
.bk-select-service {
	@include susy-breakpoint($tablet, 8) {
		@include layout(17 10px/42px);
		margin-bottom: 10px;
		.select-style {
			@include span(8);
			margin-right: 10px;
			.stb-select-container {
				@include span(full);
			}
		}
	}
	@include susy-breakpoint($desktop, 12) {
		@include layout(17 10px/42px);
		.select-style {
			@include span(5);
			margin-right: 10px;
			.stb-select-container {
				@include span(full);
			}
		}
	}
}
.booking-result {
	margin-top: $base-line-height*2;
	margin-bottom: $base-line-height*2;
	.wrap {
		> h5 {
			@include sub-title;
		}
	}
	.btn-next {
		@include btn-default($miw: 0, $fz: 18);
	}
	@include susy-breakpoint($desktop, 12) {
		.btn-next {
			@include span(3);
			@include last;
		}
	}
}
.booking-list {
	@extend .reviews-list;
	margin-bottom: $base-line-height;
	> h4 {
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		line-height: 32px;
		padding: 0 10px;
		background: #d5d5d5;
	}
}
.booking-list {
	> ul {
		padding-top: 20px;
		padding-bottom: 10px;
		> li {
			min-height: 140px;
			display: table;
			> p {
				margin-bottom: 10px;
				font-size: 12px;
				.fa {
					font-size: 14px;
					letter-spacing: -1.5px;
				}
			}
			.title {
				font-size: 14px;
				font-weight: bold;
				color: #999;
			}
			.designer {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}
.booking-list {
	> ul {
		> li:nth-of-type(1) {
			.designer {
				width: 140px;
				height: 140px;
				img {
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
		> li:nth-of-type(2) {
			padding-left: 20px;
		}
		> li:nth-of-type(3) {
			.designer {
				padding-bottom: 0;
				span:first-child {
					font-size: 24px;
					display: inline-block;
				}
				span:last-child {
					font-size: 24px;
				}
			}
			.title {
				font-size: 12px;
				margin-bottom: 6px;
				clear: both;
			}
			.time {
				margin-bottom: 10px;
				overflow: hidden;
				&:last-child {
					margin-bottom: 0;
				}
				button {
					font-size: 12px;
					color: #fff;
					background: #555;
					line-height: 38px;
					border: 1px solid #555;
					margin-bottom: 10px;
					&:last-child {
						margin-bottom: 0;
					}
					&:hover, &:focus, &.selected {
						color: inherit;
						background: #fff;
						border: 1px solid $border-purple;
						box-sizing: border-box;
					}
				}
			}
		}
	}
}
.booking-list {
	> ul {
		@include susy-breakpoint($desktop, 12) {
			> li:nth-of-type(1) {
				@include span(2);
			}
			> li:nth-of-type(2) {
				@include span(2);
			}
			> li:nth-of-type(3) {
				@include span(8);
				@include last;
				.time {
					button {
						@include layout(6 10px/104px);
						@include gallery(1 of 6);
					}
				}
			}
		}
	}
}