// =======================================
// Color System  Guide
// =======================================

// Font color
$font-default: #555
$font-color-title : #777
$font-color-label : #989898

$font-color-nav: #aaa
$font-color-active: #9527b5

// Background color
$bg-default: #e0e0e0
$bg-nav-depth: #363636

// Border color
$border-gray: #c6c6c6
$border-gray-dark: #363636

//Table color
$font-color-table-th: #9527b5
$font-color-table-td: #333
$font-color-paging : #999